{
    email admin@example-logistics-ai.com
}

api.example-logistics-ai.com {
    reverse_proxy api:8000
    encode gzip
    log {
        output stdout
        format json
    }
}

webhooks.example-logistics-ai.com {
    reverse_proxy api:8000
    encode gzip
    log {
        output stdout
        format json
    }
}

bot.example-logistics-ai.com {
    reverse_proxy bot:8001
    encode gzip
}
